<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>LOGIN - ECMS</title>
</head>
<body>

<div class="container" layout:fragment="content">
    <div class="row">
        <form method="post" th:action="@{/auth/login}" autocomplete="off">
            <!--error message-->
            <div th:if="${param.error}" th:with="errorMsg=${session['SPRING_SECURITY_LAST_EXCEPTION'].message}" >
                <div class="alert alert-danger" th:text="${errorMsg}">
                    Invalid email or password
                </div>
            </div>

            <!--logout message-->
            <div th:if="${param.logout}">
                <div class="alert alert-success">
                    You have been logged out.
                </div>
            </div>
            <div class="row mb-3">
                <label for="email" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" name="username" class="form-control" id="email">
                </div>
            </div>
            <div class="row mb-3">
                <label for="password" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" name="password" class="form-control" id="password">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            <span>New User? <a href="/" th:href="@{/auth/register}">Sign Up</a> </span>
        </form>
    </div>
</div>

</body>
</html>