<header th:fragment="header" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">ECMS</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link" th:href="@{/bookings}">Bookings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/departments">Departments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/doctors">Doctors</a>
                    </li>
                    <li class="nav-item dropdown" >
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            More
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown" sec:authorize="!isAuthenticated()">
                            <li><a class="dropdown-item" href="/auth/login">Login</a></li>
                            <li><a class="dropdown-item" href="/auth/register">Register</a></li>
                        </ul>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown" sec:authorize="isAuthenticated()">
                            <li><a class="dropdown-item" th:href="@{/bookings}">My Bookings</a></li>
                            <li><a class="dropdown-item" th:href="@{/logout}">Logout</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</header>